h1, h2 {
  color: green;
}

p, li{
	color: grey;
	text-indent: 30px;
	text-align: justify;
}

h1{
	font-size: 55px;
	text-align: center;
}

html{
	background-color: #b6dbb9;
}

body{
	width: 700px;
	margin: 0 auto;
	background-color: #E6E6FA;
	padding: 5px 40px 40px 40px;
}

img{
	padding: 0 10px 10px 10px;
	margin-left: center;
}

h2{
	margin-left: 30px;
}
